body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
    padding-bottom: 15px;
}

header {
    background-color: #2e2421;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    /* Adjust this value based on the header height */
}

nav {
    display: flex;
    gap: 15px;
}

div.col2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #c5b6ab;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background: linear-gradient(45deg, #5e4b43, #443732);
}

main {
    border: #ac8678;
    border-style: ridge;
    padding: 20px;
    margin: 0 auto;
    width: 93%;
    background-color: #f5f2ed;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 19px;
}

.box {
    border: #ac8678;
    border-style: dotted;
    padding: 20px;
    margin-top: 20px;
    width: min(500px, 100%);
    float: left;
    background-color: #ebe2d5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.box2 {
    border: #ac8678;
    border-style: dotted;
    padding: 20px;
    margin-top: 20px;
    width: min(500px, 100%);
    float: left;
    background-color: #ebe2d5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.box3 {
    border: #ac8678;
    border-style: dotted;
    padding: 20px;
    margin-top: 20px;
    width: min(500px, 100%);
    float: left;
    background-color: #ebe2d5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.box4 {
    border: #ac8678;
    border-style: dotted;
    padding: 20px;
    margin-top: 20px;
    width: min(500px, 100%);
    float: left;
    background-color: #ebe2d5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.teks {
    font-size: 1.5rem;
    margin-bottom: -10px;
    color: #241b18;
    opacity: 80%;
    padding: 0 20px;
    margin-top: -5px;
}

#title {
    font-size: 2rem;
    padding: 0 20px;
    color: #4b3b35;
    margin-bottom: -20px;
}

#aboutMe-teks h2 {
    font-size: 2rem;
    padding: 0 20px;
    color: #4b3b35;
    margin-bottom: -20px;
}

#aboutMe-teks h3 {
    font-size: 1.5rem;
    margin-bottom: -10px;
    color: #241b18;
    opacity: 80%;
    padding: 0 20px;
}

#home-teks p {
    font-size: 1.1rem;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#profile-image {
    max-width: px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    float: center;
}

#home-image2 {
    display: none;
}

#icon-header {
    display: none;
}

#hakdug3 {
    display: none;
}

#teks {
    flex: 1;
}

.process-wrapper {
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container {
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: -50px;
    padding-bottom: 20px;
}

#progress-bar-container ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 10;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

#progress-bar-container li {
    list-style: none;
    float: left;
    width: 33.33%;
    text-align: center;
    color: #6e5555;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 120px;
    position: relative;
}

#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 15px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: #443636;
}

#progress-bar-container li:after {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background: #681313;
    margin: auto;
    border: solid 7px #fff;
    border-radius: 50%;
    margin-top: 75px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

#progress-bar-container li:hover:after {
    background: #4d3232;
}

#progress-bar-container li.active:after {
    background: #4d3232;
}

#progress-bar-container #line {
    width: 80%;
    margin: auto;
    background: #7e5656;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
    content: " ";
    width: 10%;
    height: 100%;
    background: #4d3232;
    background: linear-gradient(to right, #614747 0%, #503535 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 90%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 4px;
}

#progress-content-section .section-content {
    padding: 30px 40px;
    text-align: center;
}

#progress-content-section .section-content h2 {
    font-size: 17px;
    color: #333;
    letter-spacing: 1px;
}

#progress-content-section .section-content p {
    font-size: 16px;
    line-height: 1.8em;
    color: #292929;
}

#progress-content-section .section-content {
    display: none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode: forwards;
    transform: translateY(15px);
    opacity: 0;
}

#progress-content-section .section-content.active {
    display: block;
}

.school {
    width: 100%;
    margin-bottom: -10px;
}

.level {
    margin-top: -20px;
}

.location {
    margin-top: -10px;
}

.quote-container {
    display: flex;
    align-items: stretch;
    width: min(457px, 100%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.decorative-line {
    width: 3px;
    background-color: #3b3b3b;
    margin-right: 20px;
}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 15px;
    color: #3a3939;
}

@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        text-align: center;
        padding: 1px;
    }

    .box,
    .box2,
    .box3,
    .box4 {
        border: #ac8678;
        border-style: dotted;
        padding: 20px;
        margin-top: 20px;
        width: 80%;
        background-color: #ebe2d5;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    #home-image {
        order: 1;
        max-width: 100%;
        margin-bottom: 10px;
    }

    #home-image2 {
        display: inline-block;
        border-radius: 50%;
        background-color: #7e6b64;
        margin: 0 auto;
    }

    .small-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #icon-header {
        margin: 0;
        font-size: 1.5rem;
        padding-top: 5px;
        color: #503a32;
        display: flex;
        justify-content: center;
    }

    #hakdug1 {
        display: inline;
    }

    #hakdug2 {
        display: inline;
    }

    #hakdug3 {
        display: inline;
    }

    #teks {
        order: 2;
    }
}

#nav-image {
    border-radius: 50%;
    background-color: #555;
    display: inline-block;
}

#nav-header {
    margin: 0;
    font-size: 1.5rem;
    float: right;
    padding: 10px;
    color: #c5b6ab;
}

.left-corner {
    display: flex;
    align-items: center;
}

#profile-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    float: center;
}

.quote-container {
    display: flex;
    align-items: stretch;
    width: min(457px, 100%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        justify-content: center;
        line-height: 2;
    }

    nav a {
        font-size: 0.8rem;
        padding: 1px;
        flex: 1;
        text-align: center;
        background-color: #3a2e2a;
        color: #fff;
    }

    nav a:hover {
        background: linear-gradient(45deg, #5e4b43, #443732);
    }

    #nav-header,
    #nav-image {
        display: none;
    }

    main {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    #teks {
        order: 2;
    }

    #home-image {
        display: none;
    }

    #profile-image {
        max-width: 200px;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .quote {
        font-size: 1rem;
    }

    .quote-container {
        display: flex;
        align-items: stretch;
        width: 250px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 20px;
    }
}